.hover-text {
    position: absolute;
    top: 30px;
    width: 100px;
    background-color: white;
    padding: 2px 10px;
    border: solid gray 1px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 10px;
    pointer-events: none;
}

.hover-target:hover + .hover-text {
    visibility: visible;
    opacity: 1;
}
